* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #F0F0F0;
    padding: 25px 164px;

    .navigation {
        display: flex;
        gap: 21px;
    }

    p {
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
    }

    .data-exit {
        display: flex;
        gap: 19px;

        img {
            cursor: pointer;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
    padding: 44px 264px;

    h1 {
        font-weight: 700;
        font-size: 48px;
    }

    p {
        font-weight: 700;
        font-size: 18px;
        color: rgba(0, 71, 255, 1);
    }

    .wallet {
        display: grid;
        grid-template-columns: repeat(4, 282px);
        grid-template-rows: repeat(2, 160px);
        grid-column-gap: 24px;
        grid-row-gap: 19px;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 68px;
            padding-left: 19px;
            width: 282px;
            height: 160px;
            border-radius: 15px;
            color: white;
            background-color: black;

            p {
                font-weight: 500;
                font-size: 24px;
            }
        }
    }
    button {
        padding: 18px 179px;
        background: rgba(0, 71, 255, 1);
        color: white;
        border: none;
        border-radius: 10px;
    }
}