* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #F0F0F0;
    padding: 25px 164px;

    .navigation {
        display: flex;
        gap: 21px;
    }

    a {
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

    .data-exit {
        display: flex;
        gap: 19px;
        img {
            cursor: pointer;
        }
    }
}

.home {
    margin: 44px 246px;
    display: flex;
    flex-direction: column;
    gap: 74px;

    .data-user {
        display: flex;
        flex-direction: column;
        gap: 11px;

        h1 {
            font-weight: 700;
            font-size: 48px;
        }

        p {
            font-weight: 700;
            font-size: 18px;
            color: #0047FF;
            cursor: pointer;
        }
    }

    .data-wallets {
        display: flex;
        flex-direction: column;
        gap: 21px;

        p {
            font-weight: 500;
            font-size: 24px;
        }

        .wallets {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 24px;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 68px;
                padding-left: 19px;
                width: 282px;
                height: 160px;
                border-radius: 15px;
                color: white;

                p {
                    font-weight: 500;
                    font-size: 24px;
                }
            }
            div:nth-child(4n + 1) {
                background: linear-gradient(84.37deg, #D7816A 2.27%, #BD4F6C 92.26%);
            }
            div:nth-child(4n + 2) {
                background: linear-gradient(84.37deg, #5F0A87 2.27%, #A4508B 92.26%);
            }
            div:nth-child(4n + 3) {
                background: linear-gradient(84.37deg, #20BF55 2.27%, #01BAEF 92.26%);
            }
            div:nth-child(4n + 4) {
                background: linear-gradient(84.37deg, #380036 2.27%, #0CBABA 92.26%);

            }
        }

        a {
            font-weight: 600;
            font-size: 16px;
            color: #0047FF;
        }
    }

    .transactions {
        display: flex;
        flex-direction: column;
        gap: 21px;

        table {
            width: 1200px;
            height: 301px;
        }

        thead {

            th {
                color: #B9C0D1;
                text-align: left;
                font-weight: 600;
                font-size: 14px;
            }

            tr {
                padding-bottom: 22px;
            }
        }

        tbody {

            td {
                text-align: left;
            }
        }

        a {
            font-weight: 600;
            font-size: 16px;
            color: #0047FF;
        }

    }
}